@import "components";

body {
   background: #221f2c;
   color: #fff;
   scroll-behavior: smooth;

   &::-webkit-scrollbar {
      z-index: 9999 !important;
      background: #0a1318 !important;
      width: 15px;
   }
   &::-webkit-scrollbar-track {
      z-index: 9999 !important;
      transition: 0.5s;
   }
   &::-webkit-scrollbar-thumb {
      z-index: 9999 !important;
      background: #1ee5c1 !important;
      cursor: pointer !important;
   }
   &::-webkit-scrollbar-button {
      display: none;
   }
}

$color: #350a5e;
$size: 200px;
.preloader {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   .circles_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   .preloader_wrapper {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background: #221f2c;
      width: 105%;
      height: 105%;
      z-index: 10000;
   }
   .circle {
      width: $size;
      height: $size;
      background: red;
      border-radius: 50%;
      animation: spin 2s alternate infinite;
      position: absolute;
   }

   @for $i from 1 to 10 {
      .circle:nth-child(#{$i}) {
         animation-delay: $i * 0.1s;
         background: lighten($color, $i * 10%);
         width: $size - $i * 20;
         height: $size - $i * 20;
      }
   }

   @keyframes spin {
      0% {
         border-radius: 50%;
         transform: rotate(0);
      }
      20% {
         border-radius: 50%;
         transform: rotate(0);
      }
      90% {
         border-radius: 5%;
         transform: rotate(90deg);
      }
      100% {
         border-radius: 5%;
         transform: rotate(90deg);
      }
   }
}

//! Плавная прогрузка Элементов

@media (min-height: 400px) {
   //?  element-animation
   .element-animation {
      opacity: 0;
      transform: scale(0.9);
   }

   .element-show {
      opacity: 1;
      transition: 0.5s;
      transform: scale(1);
   }

   //* Из левой части плавно появляется
   //? animation_fromLeft_to_right element-animation
   .animation_fromLeft_to_right.element-animation {
      transform: translate(-50%, 0);
   }
   .animation_fromLeft_to_right.element-show {
      transform: translate(0, 0) !important;
      transition: 1.5s !important;
   }

   //* Из правой части плавно появляется
   //? animation_fromRight_to_left element-animation
   .animation_fromRight_to_left.element-animation {
      transform: translate(50%, 0);
   }
   .animation_fromRight_to_left.element-show {
      transform: translate(0, 0) !important;
      transition: 1.5s !important;
   }

   //* Из нижней части плавно появляется
   //? animation_fromBottom_to_up element-animation
   .animation_fromBottom_to_up.element-animation {
      transform: translate(0, 10%);
   }
   .animation_fromBottom_to_up.element-show {
      transform: translate(0, 0) !important;
      transition: 1s !important;
   }

   //* Из верхней части плавно появляется
   //? animation_fromUP_to_bottom element-animation
   .animation_fromUP_to_bottom.element-animation {
      transform: translate(0, -20%);
   }
   .animation_fromUP_to_bottom.element-show {
      transform: translate(0, 0) !important;
      transition: 1s !important;
   }

   //    @media (max-width: 767.98px) {
   //       .animation_fromLeft_to_right.element-animation {
   //          transform: translate(-10%, 0);
   //       }
   //    }
}

//! Прижимание футера к низу
.body_content {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   overflow-x: hidden; //? Для Анимаций
   position: relative;
   header {
      width: 100%;
   }

   main {
      /* Чтобы занимал оставшееся пространство */
      flex-grow: 1;
      width: 100%;
   }

   footer {
      /* Чтобы footer не уменьшался */
      flex-shrink: 0;
      width: 100%;
   }
}

.container {
   width: 100%;
   max-width: 1030px;
   margin: 0 auto;
}
.intro,
.app_info_wrapper {
   padding: 0 20px;
   max-width: 1300px;
}
.hover_shadow {
   transition: 0.5s;
   &:hover {
      filter: drop-shadow(0px 0px 12px #a188f5);
   }
}
.language {
   width: 38.05px;
   height: 27px;
}
.show_language {
   width: 34px;
   height: 24px;
   position: relative;
   z-index: 10;
}

.hover_visibility {
   transition: 0.5s;
   &:hover {
      opacity: 0.65;
      cursor: pointer;
   }
}

//! Styles for dark mode
.products_dropdown,
.dropdown_menu {
   &:hover {
      filter: drop-shadow(0px 0px 5px rgba(210, 192, 244, 0.3));
   }
}
//! Styles for white mode
.products_dropdown.white_mode_color.active,
.dropdown_menu.white_mode_color.active {
   //    box-shadow: 0px 2px 21px 3px rgba(34, 60, 80, 0.22);
   filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
   &::before {
      content: "";
      background: #fff;
   }
}
.dropdown_item.white_mode_color.active {
   background: #efefef !important;

   transition: background 0.5s !important;
   &:hover {
      box-shadow: 0px 0px 15px rgba(161, 136, 245, 0.4);
   }
}
//! Поведение элементов при переходе на темную тему

.theme_button {
   width: 52px;
   height: 24px;
   border: none;
   border-radius: 12px;
   overflow: hidden;
   padding: 5px;
   position: relative;
   z-index: 10;
}
.theme_button.dark {
   .white_icons {
      * {
         right: -200px;
         opacity: 0;
         pointer-events: none;
         transition: opacity 0s;
      }
      .sun {
         transform: translate(-28%, 168%);
      }
   }
   //! Темный режим
   background: linear-gradient(
      90deg,
      rgba(10, 48, 163, 1) 0%,
      rgba(159, 10, 238, 1) 100%
   );
   .unions {
      width: 30px;
      height: 20px;
      position: absolute;
      top: 5px;
      left: 5px;
      transition: 0.35s;
   }
   .big_star {
      position: absolute;
      width: 3px;
      height: 3px;
   }
   .little_star {
      position: absolute;
      width: 2px;
      height: 2px;
   }
   .star1 {
      top: 25%;
      left: 25%;
      transform: translate(5px, -25%);
      transition: 0.85s;
   }
   .star2 {
      top: 25%;
      left: 25%;
      transform: translate(13px, 6px);
      transition: 0.95s;
   }
   .star3 {
      top: 25%;
      left: 25%;
      transform: translate(20px, 0px);
      transition: 1.05s;
   }
   .star4 {
      top: 25%;
      left: 25%;
      transform: translate(21px, 12px);
      transition: 1.1s;
   }
   .moon {
      position: absolute;
      width: 11px;
      height: 16px;
      top: 25%;
      left: 25%;
      transform: translate(25px, -1.9px);
      transition: 1.25s;
   }
}
.theme_button.white {
   .dark_icons {
      * {
         left: -100px;
         opacity: 0;
         pointer-events: none;
         transition: opacity 0s;
      }
   }

   background: linear-gradient(
      90.25deg,
      #cd792b 0.88%,
      #a689fb 52.82%,
      #89a2fb 99.78%
   );
   .sun {
      width: 18px;
      height: 18px;
      position: absolute;
      right: 5px;
      top: 5px;
      transform: translate(-143%, -12%);
      transition: 1s;
   }
   .sun_unions {
      width: 27px;
      height: 20px;
      position: absolute;
      right: 5px;
      top: 5px;
      transform: translate(3%, 5%);
      transition: 0.35s;
   }
}

//! Поведение элементов при переходе на светлую тему

.white_mode_color.active {
   background: #fff !important;
   * {
      color: #2f2f35 !important;
   }

   .gradient_btn {
      color: #fff !important;
      * {
         color: #fff !important;
      }
      &:hover {
         color: #a67afd !important;

         * {
            color: #a67afd !important;
         }
      }
   }
}

//! Стили для кнопок на сайте
.gradient_btn {
   transition: 0.5s !important;
   background: linear-gradient(
      90.09deg,
      #8750f3 0.08%,
      #89a2fb 49.24%,
      #5ed3d0 97.67%
   );
   border: 2px solid rgba(166, 122, 253, 1);
   //    border: 0px solid rgba(166, 122, 253, 0);
   border-radius: 8px;
   font-family: $Poppins;
   font-style: normal;
   font-weight: 400;
   text-align: center;
   color: #ffffff !important;
   min-width: 128px;
   padding: 13px 15px;
   outline: none !important;

   &:active {
      transform: scale(0.95);
   }
   &:hover {
      background: transparent;
      border: 2px solid rgba(166, 122, 253, 1);

      color: #a67afd !important;
   }
}

.intro_btn {
   font-size: 20px;
   line-height: 30px;
}

.default_title {
   font-family: $Poppins;
   font-weight: 800;
   font-size: 40px;
   line-height: 50px;
   color: #ffffff;
   max-width: 500px;
   hyphens: auto;
}
.default_text {
   font-family: $Poppins;
   font-weight: 500;
   font-size: 18px;
   line-height: 30px;
   color: #ffffff;
   max-width: 500px;
   hyphens: auto;
}
